
@{
    ViewBag.Title = "EgyptLocationDetailsDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@section EndHeader{
    <link href="~/assets_New_Puplic/libs/magnific-popup/lightgallery.css" rel="stylesheet" />
}

<!-- Page Tile -->
<div class="PageSectionTitle" style="background-image: url('/assets_New_Puplic/img/NewImg/Location/asset-21.jpg');">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-12">
                <nav aria-label="breadcrumb">
                    <div class="gen-breadcrumb-title">
                        <h1>
                            Locations
                        </h1>
                    </div>
                    <div class="gen-breadcrumb-container">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item">
                                <a href="/Home"><i class="fas fa-home mr-2"></i>Home</a>
                            </li>
                            <li class="breadcrumb-item">
                                <a href="/Home/EgyptLocations">Egypt Locations</a>
                            </li>
                        </ol>
                    </div>
                </nav>
            </div>
        </div>
    </div>
</div>
<!-- Page Title -->

<div class="LocationLevelThree">
    <div class="container-fluid">
        <div class="demo_location">
            <div id="lightgallery" class="row list-unstyled oterrow">
                <div class=" col-sm-3 col-md-3 col-sm-6 col-xs-12 othercol" data-src="/assets_New_Puplic/img/NewImg/f15c.jpeg" data-sub-html="">
                    <a href="" class="imagesitem">
                        <div class="imagess">
                            <!--<img class="img-responsive" src="img/NewImg/f15c.jpeg" alt="Thumb-1">-->
                            <div class=" imagsBG" style="background-image: url(/assets_New_Puplic/img/NewImg/f15c.jpeg)"></div>
                        </div>
                        <div class="locDetails">
                            <div class="forflex">
                                <p>Studio</p>
                                <h2>Optimistic</h2>
                            </div>
                        </div>

                    </a>
                </div>

                <div class=" col-sm-3 col-md-3 col-sm-6 col-xs-12 othercol" data-src="/assets_New_Puplic/img/NewImg/f18c.jpeg" data-sub-html="">
                    <a href="" class="imagesitem">
                        <div class="imagess">
                            <!--<img class="img-responsive" src="img/NewImg/f15c.jpeg" alt="Thumb-1">-->
                            <div class=" imagsBG" style="background-image: url(/assets_New_Puplic/img/NewImg/f18c.jpeg)"></div>
                        </div>
                        <div class="locDetails">
                            <div class="forflex">
                                <p>Studio</p>
                                <h2>Optimistic</h2>
                            </div>
                        </div>

                    </a>
                </div>

                <div class=" col-sm-3 col-md-3 col-sm-6 col-xs-12 othercol" data-src="/assets_New_Puplic/img/NewImg/f7c.jpeg" data-sub-html="">
                    <a href="" class="imagesitem">
                        <div class="imagess">
                            <!--<img class="img-responsive" src="img/NewImg/f15c.jpeg" alt="Thumb-1">-->
                            <div class=" imagsBG" style="background-image: url(/assets_New_Puplic/img/NewImg/f7c.jpeg)"></div>
                        </div>
                        <div class="locDetails">
                            <div class="forflex">
                                <p>Studio</p>
                                <h2>Optimistic</h2>
                            </div>
                        </div>

                    </a>
                </div>

                <div class=" col-sm-3 col-md-3 col-sm-6 col-xs-12 othercol" data-src="/assets_New_Puplic/img/NewImg/f6c.jpeg" data-sub-html="">
                    <a href="" class="imagesitem">
                        <div class="imagess">
                            <!--<img class="img-responsive" src="img/NewImg/f15c.jpeg" alt="Thumb-1">-->
                            <div class=" imagsBG" style="background-image: url(/assets_New_Puplic/img/NewImg/f6c.jpeg)"></div>
                        </div>
                        <div class="locDetails">
                            <div class="forflex">
                                <p>Studio</p>
                                <h2>Optimistic</h2>
                            </div>
                        </div>

                    </a>
                </div>

                <div class=" col-sm-3 col-md-3 col-sm-6 col-xs-12 othercol" data-src="/assets_New_Puplic/img/NewImg/f15c.jpeg" data-sub-html="">
                    <a href="" class="imagesitem">
                        <div class="imagess">
                            <!--<img class="img-responsive" src="img/NewImg/f15c.jpeg" alt="Thumb-1">-->
                            <div class=" imagsBG" style="background-image: url(/assets_New_Puplic/img/NewImg/f15c.jpeg)"></div>
                        </div>
                        <div class="locDetails">
                            <div class="forflex">
                                <p>Studio</p>
                                <h2>Optimistic</h2>
                            </div>
                        </div>

                    </a>
                </div>

                <div class=" col-sm-3 col-md-3 col-sm-6 col-xs-12 othercol" data-src="/assets_New_Puplic/img/NewImg/f18c.jpeg" data-sub-html="">
                    <a href="" class="imagesitem">
                        <div class="imagess">
                            <!--<img class="img-responsive" src="img/NewImg/f15c.jpeg" alt="Thumb-1">-->
                            <div class=" imagsBG" style="background-image: url(/assets_New_Puplic/img/NewImg/f18c.jpeg)"></div>
                        </div>
                        <div class="locDetails">
                            <div class="forflex">
                                <p>Studio</p>
                                <h2>Optimistic</h2>
                            </div>
                        </div>

                    </a>
                </div>

                <div class=" col-sm-3 col-md-3 col-sm-6 col-xs-12 othercol" data-src="/assets_New_Puplic/img/NewImg/f7c.jpeg" data-sub-html="">
                    <a href="" class="imagesitem">
                        <div class="imagess">
                            <!--<img class="img-responsive" src="img/NewImg/f15c.jpeg" alt="Thumb-1">-->
                            <div class=" imagsBG" style="background-image: url(/assets_New_Puplic/img/NewImg/f7c.jpeg)"></div>
                        </div>
                        <div class="locDetails">
                            <div class="forflex">
                                <p>Studio</p>
                                <h2>Optimistic</h2>
                            </div>
                        </div>

                    </a>
                </div>

                <div class=" col-sm-3 col-md-3 col-sm-6 col-xs-12 othercol" data-src="/assets_New_Puplic/img/NewImg/f6c.jpeg" data-sub-html="">
                    <a href="" class="imagesitem">
                        <div class="imagess">
                            <!--<img class="img-responsive" src="img/NewImg/f15c.jpeg" alt="Thumb-1">-->
                            <div class=" imagsBG" style="background-image: url(/assets_New_Puplic/img/NewImg/f6c.jpeg)"></div>
                        </div>
                        <div class="locDetails">
                            <div class="forflex">
                                <p>Studio</p>
                                <h2>Optimistic</h2>
                            </div>
                        </div>

                    </a>
                </div>
            </div>
        </div>

    </div>
</div>




@section EndBody{
    <script src="https://cdn.rawgit.com/sachinchoolur/lightgallery.js/master/dist/js/lightgallery.js"></script>
    <script src="https://cdn.rawgit.com/sachinchoolur/lg-pager.js/master/dist/lg-pager.js"></script>
    <script src="https://cdn.rawgit.com/sachinchoolur/lg-autoplay.js/master/dist/lg-autoplay.js"></script>
    <script src="https://cdn.rawgit.com/sachinchoolur/lg-fullscreen.js/master/dist/lg-fullscreen.js"></script>
    <script src="https://cdn.rawgit.com/sachinchoolur/lg-zoom.js/master/dist/lg-zoom.js"></script>
    <script src="https://cdn.rawgit.com/sachinchoolur/lg-hash.js/master/dist/lg-hash.js"></script>
    <script src="https://cdn.rawgit.com/sachinchoolur/lg-share.js/master/dist/lg-share.js"></script>
    <!--        <script src="../demo/js/lg-rotate.js"></script>-->
    <script>
        lightGallery(document.getElementById('lightgallery'));
    </script>
}