
@{
    ViewBag.Title = "EgyptLocations";
    Layout = "~/Views/Shared/_Layout.cshtml";
    bool en = true;

    if (Request.Cookies["Language"] != null)
    {
        en = (Request.Cookies["Language"].Value.ToString() == "en") ? true : false;

    }
}

<!-- Page Tile -->
<div class="PageSectionTitle" style="background-image: url('/assets_New_Puplic/img/NewImg/Location/asset-21.jpg');">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-12">
                <nav aria-label="breadcrumb">
                    <div class="gen-breadcrumb-title">
                        <h1>
                            @Resources.Global.Locations
                        </h1>
                    </div>
                    <div class="gen-breadcrumb-container">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item">
                                <a href="/Home"><i class="fas fa-home mr-2"></i>@Resources.Global.Home</a>
                            </li>
                            <li class="breadcrumb-item active">@Resources.Global.Locations</li>
                        </ol>
                    </div>
                </nav>
            </div>
        </div>
    </div>
</div>
<!-- Page Title -->



<div class="NewPageLocation" style="">
    <div class="locationContent">
        <div class="container">
            <div class="locationGroup">
                <div class="locationItem BigItem">
                    <div class="locationImge">
                        <div class="BGImg" style="background-image: url(/assets_New_Puplic/img/NewImg/f15c.jpeg)"></div>
                        <div class="iconPlus">
                            <a href="/Home/EgyptLocationDetails"><span><i class="far fa-plus"></i></span></a>
                        </div>
                    </div>
                    <div class="locationDetails">
                        <div class="titile">
                            <h2><a href="/Home/EgyptLocationDetails">Cairo</a></h2>
                        </div>
                        <div class="discription">
                            <p>Egypt Locations</p>
                        </div>
                    </div>
                </div>

                <div class="locationItem smallItem">
                    <div class="locationImge">
                        <!--<img src="img/NewImg/f15c.jpeg">-->
                        <div class="BGImg" style="background-image: url(/assets_New_Puplic/img/NewImg/f1c.jpeg)"></div>
                        <div class="iconPlus">
                            <a href="/Home/EgyptLocationDetails"><span><i class="far fa-plus"></i></span></a>
                        </div>
                    </div>
                    <div class="locationDetails">
                        <div class="titile">
                            <h2><a href="/Home/EgyptLocationDetails">Alexandria</a></h2>
                        </div>
                        <div class="discription">
                            <p>Egypt Locations</p>
                        </div>
                    </div>
                </div>
                <div class="locationItem smallItem">
                    <div class="locationImge">
                        <div class="BGImg" style="background-image: url(/assets_New_Puplic/img/NewImg/f21c.jpeg)"></div>
                        <div class="iconPlus">
                            <a href="/Home/EgyptLocationDetails"><span><i class="far fa-plus"></i></span></a>
                        </div>
                    </div>
                    <div class="locationDetails">
                        <div class="titile">
                            <h2><a href="/Home/EgyptLocationDetails">Read See</a></h2>
                        </div>
                        <div class="discription">
                            <p>Egypt Locations</p>
                        </div>
                    </div>
                </div>
                <div class="locationItem smallItem">
                    <div class="locationImge">
                        <div class="BGImg" style="background-image: url(/assets_New_Puplic/img/NewImg/f7c.jpeg)"></div>
                        <div class="iconPlus">
                            <a href="/Home/EgyptLocationDetails"><span><i class="far fa-plus"></i></span></a>
                        </div>
                    </div>
                    <div class="locationDetails">
                        <div class="titile">
                            <h2><a href="/Home/EgyptLocationDetails">Lcation Name</a></h2>
                        </div>
                        <div class="discription">
                            <p>Egypt Locations</p>
                        </div>
                    </div>
                </div>
                <div class="locationItem BigItem">
                    <div class="locationImge">
                        <div class="BGImg" style="background-image: url(/assets_New_Puplic/img/NewImg/f18c.jpeg)"></div>
                        <div class="iconPlus">
                            <a href="/Home/EgyptLocationDetails"><span><i class="far fa-plus"></i></span></a>
                        </div>
                    </div>
                    <div class="locationDetails">
                        <div class="titile">
                            <h2><a href="/Home/EgyptLocationDetails">Lcation Name</a></h2>
                        </div>
                        <div class="discription">
                            <p>Egypt Locations</p>
                        </div>
                    </div>
                </div>
                <div class="locationItem smallItem">
                    <div class="locationImge">
                        <div class="BGImg" style="background-image: url(/assets_New_Puplic/img/NewImg/f7c.jpeg)"></div>
                        <div class="iconPlus">
                            <a href="/Home/EgyptLocationDetails"><span><i class="far fa-plus"></i></span></a>
                        </div>
                    </div>
                    <div class="locationDetails">
                        <div class="titile">
                            <h2><a href="/Home/EgyptLocationDetails">Lcation Name</a></h2>
                        </div>
                        <div class="discription">
                            <p>Egypt Locations</p>
                        </div>
                    </div>
                </div>
                <div class="locationItem BigItem">
                    <div class="locationImge">
                        <div class="BGImg" style="background-image: url(/assets_New_Puplic/img/NewImg/f18c.jpeg)"></div>
                        <div class="iconPlus">
                            <a href="/Home/EgyptLocationDetails"><span><i class="far fa-plus"></i></span></a>
                        </div>
                    </div>
                    <div class="locationDetails">
                        <div class="titile">
                            <h2><a href="/Home/EgyptLocationDetails">Lcation Name</a></h2>
                        </div>
                        <div class="discription">
                            <p>Egypt Locations</p>
                        </div>
                    </div>
                </div>
                <div class="locationItem BigItem">
                    <div class="locationImge">
                        <div class="BGImg" style="background-image: url(/assets_New_Puplic/img/NewImg/f18c.jpeg)"></div>
                        <div class="iconPlus">
                            <a href="/Home/EgyptLocationDetails"><span><i class="far fa-plus"></i></span></a>
                        </div>
                    </div>
                    <div class="locationDetails">
                        <div class="titile">
                            <h2><a href="/Home/EgyptLocationDetails">Lcation Name</a></h2>
                        </div>
                        <div class="discription">
                            <p>Egypt Locations</p>
                        </div>
                    </div>
                </div>


            </div>
            <div class="PagePaginationItems">
                <div class="gen-pagination">
                    <nav aria-label="Page navigation">
                        <ul class="page-numbers">
                            <li><span aria-current="page" class="page-numbers current">1</span></li>
                            <li><a class="page-numbers" href="NewLocationDetailsTwo.html">2</a></li>
                            <li><a class="page-numbers" href="NewLocationDetailsTwo.html">3</a></li>
                            <li>
                                <a class="next page-numbers" href="NewLocationDetailsTwo.html">Next page</a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>
