
@{
    ViewBag.Title = "FilmedInEgyptDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section EndHeader{
    <link rel="stylesheet" href="~/assets_New_Puplic/libs/magnific-popup/magnific-popup.css">
    }
<!-- Page Tile -->
<div class="PageSectionTitle" style="background-image: url('/assets_New_Puplic/img/NewImg/Location/asset-21.jpg');">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-12">
                <nav aria-label="breadcrumb">
                    <div class="gen-breadcrumb-title">
                        <h1>
                            Filming in Egypt
                        </h1>
                    </div>
                    <div class="gen-breadcrumb-container">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item">
                                <a href="index.html"><i class="fas fa-home mr-2"></i>Home</a>
                            </li>
                            <li class="breadcrumb-item">
                                <a href="/Home/FilmedInEgypt">Filming in Egypt</a>
                            </li>
                        </ol>
                    </div>
                </nav>
            </div>
        </div>
    </div>
</div>
<!-- Page Title -->


<div class="filmingDetails">
    <div class="container">
        <div class="FilmingDetCont">
            <div class="videoIframe" style="margin-bottom: 10px;">
                <iframe src="https://www.youtube.com/embed/XHOmBV4js_E" name="iFrame Name" scrolling="No" height="100%" width="100%" style="border: none;"></iframe>


            </div>

            <div class="Imagesss" style="display: none">
                <img src="img/NewImg/bg_2.jpg">
            </div>
            <div class="FilmingInfo">
                <h2 class="filmName">My Generation</h2>
                <div class="gen-single-meta-holder">
                    <ul>
                        <li class="gen-sen-rating">Action</li>
                        <li>
                            <i class="fas fa-eye">
                            </i>
                            <span>237 Views</span>
                        </li>
                    </ul>
                </div>
                <div class="discription">
                    <p>
                        Streamlab is a long established fact that a reader will be distracted by the
                        readable
                        content of a page when Streamlab at its layout. The point of using Lorem
                        Streamlab
                        is that it has a more-or-less normal distribution of Streamlab as opposed
                        Streamlab. Streamlab is a long established fact that a reader will be distracted by the
                        readable
                        content of a page when Streamlab at its layout. The point of using Lorem
                        Streamlab
                        is that it has a more-or-less normal distribution of Streamlab as opposed
                        Streamlab.
                    </p>
                </div>

                <div class="gen-after-excerpt">
                    <div class="gen-extra-data">
                        <ul>
                            <li>
                                <span>Language :</span>
                                <span>English</span>
                            </li>
                            <li>
                                <span>Subtitles :</span>
                                <span>English</span>
                            </li>
                            <li>
                                <span>Audio Languages :</span>
                                <span>English</span>
                            </li>
                            <li>
                                <span>Genre :</span>
                                <span>
                                    <a href="action.html">
                                        Action,
                                    </a>
                                </span>
                                <span>
                                    <a href="adventure.html">
                                        Documentary
                                    </a>
                                </span>
                            </li>
                            <li>
                                <span>Run Time :</span>
                                <span>1hr 24 mins</span>
                            </li>
                            <li>
                                <span>Release Date :</span>
                                <span>14 Aug,2018</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>





<div class="Filmingpage">
    <div class="container">
        <div class="FilmGallary">

            <div class="titleGallary">
                <h2>Film Gallary</h2>
            </div>

            <div class="FilmGallary_caurosel owl-carousel popup-gallery2">
                <div class="GallaryItem">
                    <a href="/assets_New_Puplic/img/NewImg/f15c.jpeg">

                        <div class="BGImages" style="background-image: url(/assets_New_Puplic/img/NewImg/f15c.jpeg)"></div>
                    </a>
                </div>

                <div class="GallaryItem">
                    <a href="/assets_New_Puplic/img/NewImg/f6c.jpeg">

                        <div class="BGImages" style="background-image: url(/assets_New_Puplic/img/NewImg/f6c.jpeg)"></div>
                    </a>
                </div>
                <div class="GallaryItem">
                    <a href="/assets_New_Puplic/img/NewImg/f18c.jpeg">

                        <div class="BGImages" style="background-image: url(/assets_New_Puplic/img/NewImg/f18c.jpeg)"></div>
                    </a>
                </div>
                <div class="GallaryItem">
                    <a href="/assets_New_Puplic/img/NewImg/f7c.jpeg">

                        <div class="BGImages" style="background-image: url(/assets_New_Puplic/img/NewImg/f7c.jpeg)"></div>
                    </a>
                </div>
            </div>
        </div>
    </div>

</div>


@section EndBody{
    <script src="~/assets_New_Puplic/libs/magnific-popup/jquery.magnific-popup.min.js"></script>
    <script src="~/assets_New_Puplic/libs/magnific-popup/lightbox.init.js"></script>
}