
@{
    ViewBag.Title = "WhoWeAre";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section metatags{
    <meta name="keywords" id="metaKeyword" content="About empcnews, Who We Are, Empc Facility, news, empc, " />
    <meta name="description" id="metaDesc" content="Non-stop news coverage of the most important local and international events" />
    <link rel="canonical" id="canonicalUrl" href="https://www.empcnews.com" />
}
<!-- Page Tile -->
<div class="PageSectionTitle" style="background-image: url('/assets_New_Puplic/img/NewImg/Location/asset-21.jpg');">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-12">
                <nav aria-label="breadcrumb">
                    <div class="gen-breadcrumb-title">
                        <h1>
                            Who We Are
                        </h1>
                    </div>
                    <div class="gen-breadcrumb-container">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item">
                                <a href="index.html"><i class="fas fa-home mr-2"></i>Home</a>
                            </li>


                            <li class="breadcrumb-item active">About Us</li>
                        </ol>
                    </div>
                </nav>
            </div>
        </div>
    </div>
</div>
<!-- Page Title -->

<div class="AboutStudio" style="background-image: url(/assets_New_Puplic/img/NewImg/Location/Space.jpeg)">
    <div class="overlay">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <div class="AboutStudioContent">
                        <div class="Tirlrlre">
                            <h2>
                                Who <span>We Are</span>
                            </h2>
                        </div>
                        <div class="Discription">
                            <p>Quickly incentivize impactful action items before tactical collaboration and idea-sharing. Monotonically engage market-driven intellectual capital through wireless opportunities. Progressively network performance based services for functionalized testing procedures.</p>
                            <p>Quickly incentivize impactful action items before tactical collaboration and idea-sharing. Monotonically engage market-driven intellectual capital through wireless opportunities. Progressively network performance based services for functionalized testing procedures.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <div class="imageGirl">
                        <div class="imgBG" style="background-image: url(/assets_New_Puplic/img/NewImg/Mask_Group_18.png)"></div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
